# Copy to .env at the repository root. All values below are placeholders.
# Leave commented for the documented localhost development defaults.
# Uncomment only settings you configure; never commit .env.
# DATABASE_URL=<backend-only-postgresql-connection-url>
# PORT=<backend-port>
# WEB_ORIGIN=<exact-frontend-origin>
# IP_HASH_SALT=<private-random-value-at-least-32-characters>
# NODE_ENV=<development-test-or-production>
# TRUST_PROXY=<true-only-behind-one-trusted-proxy-otherwise-false>
# WEATHER_BASE_URL=<permitted-weather-provider-url>
# GEOCODING_BASE_URL=<permitted-geocoding-provider-url>
# POSTGRES_PASSWORD=<local-compose-password-matching-database-url>
# VITE_MAP_PROVIDER=<oss-or-legitimately-licensed-luciad>
# VITE_TILE_URL=<policy-compatible-raster-tile-url-template>
